//light-theme
[data-theme='light'] {
  --common-white: #fff;
  --common-black: #000;
  --bg-color: #F5F5F5;
  --grey: #8e8e93;
  --rose: #E9D9D8;
}

//dark-theme
[data-theme='dark'] {
  --common-white: #2c2c2e;
  --common-black: #ffffff;
  --bg-color: #1c1c1e;
  --grey: #8e8e93;
  --rose: #E9D9D8;
}

// typography
$font-size-paragraph: 1.6rem;


